<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--每个配置文件中只允许存在一个 <configSections> 元素，并且，如果存在该元素，它还必须是根 <configuration> 元素的第一个子元素。 -->
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>
    <containers>
      <container name="">
        <!--type为接口或父类名称，mapTo为子类名称。写法为用逗号隔开两部分，一是类型的完全限定名，命名空间+接口名/类名，二是程序集名称-->
        <!--name解决同一个接口不同实例问题-->
        <register type="Orz.Unity.Interfaces.IPhone,      Orz.Unity.Interfaces" mapTo="Orz.Unity.Implement.ApplePhone, Orz.Unity.Implement" name=""/>
        <register type="Orz.Unity.Interfaces.IHeadphone,  Orz.Unity.Interfaces" mapTo="Orz.Unity.Implement.Headphone,  Orz.Unity.Implement" name=""/>
        <register type="Orz.Unity.Interfaces.IMicrophone, Orz.Unity.Interfaces" mapTo="Orz.Unity.Implement.Microphone, Orz.Unity.Implement" name=""/>
        <register type="Orz.Unity.Interfaces.IPower,      Orz.Unity.Interfaces" mapTo="Orz.Unity.Implement.Power,      Orz.Unity.Implement" name=""/>
      </container>
    </containers>
  </unity>
</configuration>