<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>
    <containers>
      <container name="">
        <!--逗号前面是接口类型的完全限定名：命名空间+接口名称，逗号后面是DLL文件的名称 name解决同一个接口不同实例问题-->
        <register type="Orz.Unity.Interfaces.IPhone,      Orz.Unity.Interfaces" mapTo="Orz.Unity.Implement.ApplePhone, Orz.Unity.Implement" />
        <register type="Orz.Unity.Interfaces.IHeadphone,  Orz.Unity.Interfaces" mapTo="Orz.Unity.Implement.Headphone,  Orz.Unity.Implement" />
        <register type="Orz.Unity.Interfaces.IMicrophone, Orz.Unity.Interfaces" mapTo="Orz.Unity.Implement.Microphone, Orz.Unity.Implement" />
        <register type="Orz.Unity.Interfaces.IPower,      Orz.Unity.Interfaces" mapTo="Orz.Unity.Implement.Power,      Orz.Unity.Implement" />
      </container>
    </containers>
  </unity>
</configuration>